@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
}

@layer base {
  body {
    background-color: white;
    color: black;
    /* 强制使用 Helvetica, 顶级设计师的最爱 */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

/* 极致极简的排版系统 */
h1, h2, h3 {
  @apply font-black uppercase tracking-tighter;
}

label {
  @apply text-[9px] font-bold uppercase tracking-widest text-gray-400;
}

/* 取消所有圆角 */
* {
  border-radius: 0 !important;
}

/* 隐藏滚动条但保留功能 */
::-webkit-scrollbar {
  display: none;
}
